* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}
.common-h5 {
    color: #3b3663;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.common-h2 {
    color: #3b3663;
    font-size: 30px;
    line-height: 38px;
}

.text-center {
    text-align: center;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto ;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    font-family: "Rubik";
    font-weight: 400;
}

.active{
    color: #f47514 !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Nunito";
    font-weight: 800;
}

p{
    font-family: "Rubik";
    font-weight: 400;
}

/* header */

.nav-col{
    float: left;
    width: 75%;
}

.cnt-info-col {
    float: right;
    text-align: right;
    width: 25%;
}

.logo{
    float: left;
    width: 30%;
    
}

.menu {
    float: right;
    width: 70%;
}

.logo img{
    width: 180px;
}

.menu a{
    padding:22px;
    text-decoration: none;
    display: inline-block;
    color: #44dd44;
    transition: all 0.5s ease;
}

.menu a:hover{
    color: #f47514;
}

.cnt-info-col a{
    color: #4d4d4d;
    text-decoration: none;
    margin-top: 23px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s ease;
}

.cnt-info-col a:hover {
    color: #f47514;
}

section.header-bg-parent {
    position: relative; 
    top: -65px;
}

.header-col1{
    float: left;
    width: 25%;
    position: absolute;
    top: 36%;
    left: 14%;
}
.header-col1 h5{
    color: #3b3663;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header-col1 h2 {

}

.header-col2{
    float: right;
    background-image: url(./images/header-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 75%;
}